
<div class="config">
  <div class="config"><label>Example 1</label><input type="text"></div>
  <div class="config"><label>Example 2</label><input type="text"></div>
  <div class="config"><label>Example 3</label><input type="text"></div>
</div>

<table class="stockmarket">
  <thead>
    <tr>
      <th>Year</th>
      <th>Starting Balance</th>
      <th>Cost Basis</th>
      <th>Sell Orders</th>
      <th>Taxes</th>
      <th>Growth</th>
      <th>Ending Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2010</td>
      <td>$10,000</td>
      <td>$12,000</td>
      <td>$695</td>
      <td>$232</td>
      <td>$13</td>
      <td>$19,300</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>$10,000</td>
      <td>$12,000</td>
      <td>$695</td>
      <td>$232</td>
      <td>$13</td>
      <td>$19,300</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>$10,000</td>
      <td>$12,000</td>
      <td>$695</td>
      <td>$232</td>
      <td>$13</td>
      <td>$19,300</td>
    </tr>
  </tbody>
</table>
